// Global Class Name

.main-container{width: 1408px;margin: auto;}
#toolbox-small .tlbx-sml-ryt-wpr .toolbox-button:nth-last-child(1){margin-right: 0;}
#toolbox-bottom .toolbox-button div:first-child{width: 60%;}
.bgm-track-wrapper.playing{background-color: transparent !important;}