#leftsidebar {
  position: absolute;
  width: 280px;
  .pro-sidebar {
    height: 100vh;
    position: relative;
    width: 100%;
    min-width: 100%;
  }
  .pro-sidebar {
    &.collapsed {
      width: 80px;
      min-width: 80px;
      .pro-sidebar-header {
        padding: 30px 10px;
      }
      .pro-inner-item {
        padding: 8px 0 8px 8px;
      }
    }
    .pro-sidebar-header {
      margin: 0;
      padding: 27px 30px;
      box-shadow: -9px 0 20px #59667a1a;
      .logotext {
        @include flex(row, center, space-between);

        a {
          font-size: 20px;
          margin: 0;
          color: $black;
          font-weight: 600;
        }

        .closemenu {
          color: $black;
          right: 0;
          z-index: 9999;
          line-height: 20px;
          border-radius: 50%;
          font-weight: bold;
          font-size: 22px;
          cursor: pointer;
          &:hover {
            color: $aqua;
          }
        }
      }
    }
    .pro-sidebar-inner {
      background-color: $white;
      box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
      position: unset;
      .pro-sidebar-layout {
        overflow-y: hidden;
        position: unset;

        ul {
          padding: 0 5px;
          a::before {
            display: none;
          }
          .pro-menu-item {
            border-radius: 10px;
            padding: 5px 10px;
            background: $white;
            transition: all 0.5s ease;
            &:hover,
            &.active {
              background: $aqua;
              .pro-icon {
                color: $aqua;
              }
              .pro-item-content {
                color: $white !important;
              }
            }

            .pro-inner-item {
              color: $black;
              font-weight: bold;
              .pro-icon-wrapper {
                background-color: $white;
                color: $black;
                border-radius: 3px;
                .pro-icon {
                  font-size: 20px;
                }
              }
              .pro-item-content {
                color: $black;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
