#right_section {
  margin-left: 280px;
  width: calc(100% - 280px);
  height: 100vh;
}

.dheader {
  width: 100%;
  position: relative;
  @include Transition(0.5s);
  background-color: $white;
  box-shadow: 0px 4px 40px $lightgray;
  .header_iner {
    @include flex(row, space-between, null);
    background-color: $white;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 30px;
    position: relative;
    border-radius: 0px;
    margin: 0;
    background: linear-gradient(45deg, #1dcfc0, $aqua) !important;
    border-radius: 0 0 10px 10px;
    &_serach {
      width: 310px;
      position: relative;
      @include flex(row, center, null);
      .search_inner {
        .form-control {
          color: $white;
          font-size: 12px;
          height: 40px;
          width: 100%;
          padding-left: 50px;
          border: 0;
          padding-right: 15px;
          background: rgba(255, 255, 255, 0.12);
          border-radius: 30px;
          border: 0;
          &::placeholder {
            color: $white;
          }
          &:focus {
            box-shadow: none;
          }
        }
        button {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: transparent;
          font-size: 18px;
          border: 0;
          padding-left: 20px;
          padding-right: 13px;
          color: $white;
        }
      }
    }

    &_right {
      @include flex(row, center, space-between);
      &_notification {
        margin-right: 50px;
        margin-left: 40px;
        @include flex(row, center, null);

        li {
          display: inline-block;
          position: relative;
          span {
            position: relative;
            margin-right: 29px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .nav-link-notify {
    color: $white;
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      right: -7px;
      border-radius: 50%;
      top: -10px;
      background-color: white;
      animation: notify-pulse 1s infinite;
    }
  }
  .notification {
    background: $white;
    box-shadow: 0px 10px 15px rgba(6, 0, 8, 0.22);
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 350px;
    transform: translateY(30px) translateX(20px);
    @include Transition(0.3s);
    opacity: 0;
    visibility: hidden;
    @include Transition(0.3s);
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(20px) translateX(20px);
    }
    &_Header {
      padding: 15px 20px;
      border-radius: 10px 10px 0px 0px;
      background: $aqua;
      h4 {
        font-size: 15px;
        font-weight: 500;
        color: $white;
        margin-bottom: 0;
      }
    }
    &_body {
      padding: 20px 20px;
      height: 300px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $aqua;
        border-radius: 5px;
      }
      .single_notify {
        margin-bottom: 10px;
        @include flex(row, center, null);
        a {
          margin-right: 15px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
          }
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #828bb2;
          margin: 0;
        }
        h5 {
          margin: 0;
          font-size: 20px;
          color: $aqua;
          font-weight: 600;
        }
      }
    }
    .nofity_footer {
      padding: 13px 20px;
      background: #f5f7f9;
      border-radius: 0 0 10px 10px;
      .btn_1 {
        background-color: $aqua;
        border: 1px solid $aqua;
        color: $white;
        display: inline-block;
        padding: 11px 23px;
        text-transform: capitalize;
        line-height: 16px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 5px;
        white-space: nowrap;
        @include Transition(0.5s);
      }
    }
  }
  .profile_info {
    position: relative;
    img {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      cursor: pointer;
      object-fit: cover;
      object-position: center;
    }
    &_iner {
      position: absolute;
      right: 0;
      background-color: $white;
      text-align: left;
      width: 215px;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      top: 77px;
      @include Transition(0.5s);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        top: -10px;
        right: 15px;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #14256a transparent;
        z-index: 2;
      }
      .profile_author_name {
        padding: 20px 25px;
        background: #14256a;
        border-radius: 10px 15px 0px 0px;
        p {
          font-size: 16px;
          font-weight: 400;
          color: $white;
        }
        h5 {
          font-size: 20px;
          color: $white;
          font-weight: 600;
        }
      }
    }
  }
}
